/*
 * トップで使用するデザイン
 */

.box {
	margin: 20px 0;
	padding: 30px;
	background-color: $white-color;
	border-radius: $border-radius;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);

	@include mq() {
		padding: 20px;
	}

	.title {
		margin-top: 20px;
		font-size: 150%;
		font-weight: bold;

		&:first-child {
			margin-top: 0;
		}
	}

	.follow-box {
		display: flex;
		justify-content: space-around;
	}

	.preview_img {
		width: 240px;
		max-width: 100%;
		margin: 10px auto;
	}

	.result_img {
		width: 100%;
		margin: 10px auto;
	}

	.line {
		margin: 10px 20px;
	}

	.atmark {
		margin-right: 10px;
		font-size: 130%;
	}

	.error-message-box {
		margin-top: 10px;
		padding: 10px;
		color: $accent-red;
		font-weight: bold;
		background-color: #fff5f5;
		display: none;
	}

    .copy-area {
        padding: 0 10px 5px;

        textarea {
            width: 100%;
            height: 200px;
            margin: 0;
            color: $text-base-color;
            font-family: inherit;
            font-size: 120%;
            resize: vertical;
        }
    }

    .share-area {
        width: 100%;
        padding-bottom:5px;
        display: table;
        border-collapse: separate;
        border-spacing: 5px 0;

        .share-button {
            height: 35px;
            display: table-cell;
            border-radius: 5px;

            &#share-twitter {
                background: url(img/share-tweet.svg) center center no-repeat, #1da1f2;
            }
        }
	}

    .detail-button {
		width: 280px;
		margin: 10px auto 0;
		padding: 5px;
		font-size: 90%;
		text-align: center;
		background-color: transparent;
		border-radius: 18px;
		display: block;
		transition: background-color .2s linear;

		&:hover {
			background-color: $main-very-light-color;
		}
    }
}

input[type=text],
textarea {
	padding: 3px 10px;
	font-size: 130%;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
	border: 1px solid $border-base-color;
	border-radius: $border-radius;

	&.has-error {
		background-color: #fee;
		color: #f55;
		outline-color: #f55;
	}
}

input.number {
	width: 100px;
}

button.submit {
	width: 100%;
	max-width: 320px;
    margin: 15px auto 0;
    padding: 10px;
    color: #fff;
    font-size: 130%;
    font-weight: bold;
	background-color: $main-color;
	border: none;
	border-radius: $border-radius;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	display: block;
	cursor: pointer;

	&:disabled {
		color: #888;
		font-weight: normal;
		background-color: #eee;
		cursor: not-allowed;
	}
}
